[Unit]
Description=Set wlan1 to monitor mode
After=network.target

[Service]
Type=oneshot
ExecStart=/opt/proximity_pulse/proximity_pulse.py
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
